*{
	margin: 0;
	padding: 0;
}
.clear:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.head{
	padding: 0 100px;
	background-color: #D2B48C;
}
.head .member{
	width: 90px;
	height: 30px;
	float: right;
	line-height: 30px;
	background: url(img/3.png)no-repeat 70px center;
}
.head ul{
	width: 85px;
	border: 1px solid #D2B48C;
	display: none;
	cursor: pointer;
}
.head ul li{
	list-style: none;
	width: 100%;
	height: 25px;
	line-height: 25px;
	background: url(img/1.png)no-repeat 10px center;
	z-index: 2;
}
.head li a{
	display: block;
	text-decoration: none;
	text-indent: 40px;
}
.head li a:hover{
	background: yellow;
}
